.info-container{
    width: 100%;
}
.info{
    display: flex;
}

.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.sec1 .addr{
    width: 450px;
    text-align: left;
}
.sec1 h1{
    font-size: 40px;
    margin-top: 40px;
}

.sec2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec2 .desc{
    width: 100%;
    height: 50%;
    margin-top: 10px;

}
.sec2 .desc p{
    font-size: 19px;
    text-align: justify;
    margin-right: 40px;
}
.links{
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    margin-top: 10px;
}
.links img{
    height: 64px;
}
.links .icon{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links .icon .texton{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.icon:hover .texton {
    opacity: 1;
}

.infshow{
    margin-top: 6px;
}